
.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:rgb(49, 77, 100);
  /* text-align: left; */
  font-size: 10px;
  color: white; 
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.navbar-list {
  display: flex;
  margin-right: 2rem;
}

.navbar-list a {
    text-decoration: none;
    color:rgb(210, 210, 226);
  }

  .navbar-list a {
    display: block;
    padding: 8px;
  
  }
  
  .navbar-list a:hover {
    color: peachpuff;
    text-decoration: none;
  }
 
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }

.about{
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 500px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul .list1{
    float: right;
  }
  ul .list2 {
    list-style-type: square;
    list-style-position: outside;
    list-style-image: none;
  }
  #intro .intro{
      font-size: medium;
      background-color: rgb(78, 182, 182);
  }
  /* .p1{
    font-family: Arial, Helvetica, sans-serif;
  } */

  body {
    font-family: "Open Sans", sans-serif;
    color: #444444;

  }
  .button1 {
  background-color: rgb(49, 77, 100);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  } 
  .button1 {
    transition-duration: 0.4s;
  }
  
  .button1:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  .button2 {
  background-color: rgb(49, 77, 100);
  border: none;
  color: white;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  } 
  .button2:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

.section1{
    margin-top: 6%;
    padding: 60px;
    font-size: larger;
    text-align: center;
    color: #f1f1f1;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./images/welcome.jpg");
    background-position:center top;
}
 
 .img1{
width: 450px;
height: 440px;
border-radius: 8px;
  }


.welcome{
  margin-left: 180px;
      }


    .portfolio-section {
      text-align: center;
      background: var(--main-blue);
    }
    .portfolio-section-header {
      max-width: 640px;
      margin: 0 auto 3rem auto;
      border-bottom: 0.1rem solid var(--main-white);
    }
    
    @media (max-width: 28.75em) {
      .portfolio-section-header {
        font-size: 4rem;
      }
    }

    .portfolio-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      grid-gap: 4rem;
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
      margin-bottom: 6rem;
    }
    
    @media (max-width: 30.625em) {
      .portfolio-section-header {
        padding: 4rem 1rem;
      }
    
      .portfolio-grid {
        grid-template-columns: 1fr;
      }
    }
    
    .project {
      background: var(--main-gray);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      border-radius: 2px;
    }
    
    .code {
      color: var(--main-gray);
      transition: color 0.3s ease-out;
    }
    
    .project:hover .code {
      color: #ff7f50;
    }
    
    .project-image {
      height: calc(100% - 6.8rem);
      width: 100%;
      object-fit: cover;
    }
    
    .project-title {
      font-size: 1rem;
      padding: 2rem 0.5rem;
    }
    
    .btn {
      display: inline-block;
      padding: 1rem 2rem;
      border-radius: 2px;
    }
    
    .btn-show-all {
      font-size: 2rem;
      background: var(--main-gray);
      transition: background 0.3s ease-out;
    }
    
    .btn-show-all:hover {
      background: var(--main-red);
    }
    
    .btn-show-all:hover > i {
      transform: translateX(2px);
    }
    
    .btn-show-all > i {
      margin-left: 10px;
      transform: translateX(0);
      transition: transform 0.3s ease-out;
    }
    

/* Footer */
  footer {
    background-color: #777;
    padding: 8px;
    color: white;
    font-size: 15px;
  }
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
    color: rgba(221, 211, 211, 0.6);
  }

  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }
  
  /* Style all font awesome icons */
  
  .fa {
    padding: 20px;
    font-size: 70px;
    width: 20px;
    text-align: center;
    text-decoration: none;
  }


.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background:rgb(212, 55, 55);
  color: white;
}
.fa-envelope {
  background: blanchedalmond;
  color: blueviolet;
}
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-links {
    display: flex;
    margin-right: 2rem;
  }
  
  .footer-links a {
      text-decoration: none;
      color:rgb(210, 210, 226);
    }
  
  .footer-links a {
      display: block;
      padding: 8px;
    
    }
    
  .footer-links a:hover {
      color: peachpuff;
      text-decoration: none;
    }
  .footer-links li {
      float:right;
    }
  